.khoi{
    position: relative;
    width: 600px;
    height: 400px;
    cursor: pointer;   
    margin:auto;
    overflow: hidden;
    transition:0.4s;
}

.khoi .layer1{width: 100%;
transition:0.4s;}
.khoi:hover .layer1{transform: scale(1.2);}
.khoi .layer2{
    width: 100%;
    height: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-color:#00000080;
        z-index: 2;
        transition:0.4s;
        opacity: 0;
}
.khoi:hover .layer2{
    opacity: 1;
}
 .khoi .chu1, .chu2, .chu3{
    position: absolute;
    top:20px;
    left: -480px;
    color:black;
    font-family: segoe ui light;
    padding:10px 20px;
    background-color: white;
    transition:0.4s;
    z-index: 3;
}
.khoi .chu2{
    top:70px;
}
.khoi .chu3{
    top:120px;
}
.khoi:hover .chu1{
    transform: translateX(500px);
    transition-delay: 0s;
}
.khoi:hover .chu2{
    transform: translateX(500px);
    transition-delay: 0.2s;
}
.khoi:hover .chu3{
    transform: translateX(500px);
    transition-delay: 0.3s;
}